<?php
/*
 * HightailYouSendItAPILib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */

namespace HightailYouSendItAPILib\Controllers;

use HightailYouSendItAPILib\APIException;
use HightailYouSendItAPILib\APIHelper;
use HightailYouSendItAPILib\Configuration;
use HightailYouSendItAPILib\Models;
use HightailYouSendItAPILib\Exceptions;
use HightailYouSendItAPILib\Http\HttpRequest;
use HightailYouSendItAPILib\Http\HttpResponse;
use HightailYouSendItAPILib\Http\HttpMethod;
use HightailYouSendItAPILib\Http\HttpContext;
use Unirest\Request;

/**
 * @todo Add a general description for this controller.
 */
class ShareAPIsController extends BaseController {

    /**
     * @var ShareAPIsController The reference to *Singleton* instance of this class
     */
    private static $instance;
    
    /**
     * Returns the *Singleton* instance of this class.
     * @return ShareAPIsController The *Singleton* instance.
     */
    public static function getInstance()
    {
        if (null === static::$instance) {
            static::$instance = new static();
        }
        
        return static::$instance;
    }

    /**
     * Share a folder
     * @param  string     $folderId         Required parameter: This id of the folder
     * @param  string     $email            Required parameter: Email of the user to share this folder with
     * @param  string     $message          Required parameter: The message for the invitation email
     * @param  string     $permission       Required parameter: Read or write permission for the user
     * @param  string     $xAuthToken       Required parameter: Authentication token returned by the Login method
     * @param  string     $accept           Required parameter: Output format as JSON or XML (Acceptable values are: "application/xml", "application/json")
     * @return mixed response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createShare (
                $folderId,
                $email,
                $message,
                $permission,
                $xAuthToken,
                $accept) 
    {
        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/v1/folder/{folderId}/share';

        //process optional query parameters
        $_queryBuilder = APIHelper::appendUrlWithTemplateParameters($_queryBuilder, array (
            'folderId'     => $folderId,
            ));

        //process optional query parameters
        APIHelper::appendUrlWithQueryParameters($_queryBuilder, array (
            'email'        => $email,
            'message'      => $message,
            'permission'   => $permission,
            'X-Auth-Token' => $xAuthToken,
            'Accept'       => $accept,
            'apiKey' => Configuration::$apiKey,
        ));

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Accept'        => 'application/json'
        );

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl);
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers);

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse,$_httpContext);

        return $response->body;
    }
        
    /**
     * Unshare the folder with a user
     * @param  string     $folderId         Required parameter: The id of the folder
     * @param  string     $email            Required parameter: Email of the user to unshare this folder
     * @param  string     $xAuthToken       Required parameter: Authentication token returned by the Login method
     * @param  string     $accept           Required parameter: Output format as JSON or XML (Acceptable values are: "application/xml", "application/json")
     * @return mixed response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function updateUnshare (
                $folderId,
                $email,
                $xAuthToken,
                $accept) 
    {
        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/v1/folder/{folderId}/unshare';

        //process optional query parameters
        $_queryBuilder = APIHelper::appendUrlWithTemplateParameters($_queryBuilder, array (
            'folderId'     => $folderId,
            ));

        //process optional query parameters
        APIHelper::appendUrlWithQueryParameters($_queryBuilder, array (
            'email'        => $email,
            'X-Auth-Token' => $xAuthToken,
            'Accept'       => $accept,
            'apiKey' => Configuration::$apiKey,
        ));

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Accept'        => 'application/json'
        );

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::PUT, $_headers, $_queryUrl);
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::put($_queryUrl, $_headers);

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse,$_httpContext);

        return $response->body;
    }
        
    /**
     * Send a file from the folder to a user
     * @param  string     $fileId           Required parameter: The id of the file
     * @param  string     $recipients       Required parameter: Comma separate emails of the user to send the file to
     * @param  string     $xAuthToken       Required parameter: Authentication token returned by the Login method
     * @param  string     $accept           Required parameter: Output format as JSON or XML (Acceptable values are: "application/xml", "application/json")
     * @return mixed response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createSend (
                $fileId,
                $recipients,
                $xAuthToken,
                $accept) 
    {
        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/v1/folder/file/{fileId}/send';

        //process optional query parameters
        $_queryBuilder = APIHelper::appendUrlWithTemplateParameters($_queryBuilder, array (
            'fileId'       => $fileId,
            ));

        //process optional query parameters
        APIHelper::appendUrlWithQueryParameters($_queryBuilder, array (
            'recipients'   => $recipients,
            'X-Auth-Token' => $xAuthToken,
            'Accept'       => $accept,
            'apiKey' => Configuration::$apiKey,
        ));

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Accept'        => 'application/json'
        );

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl);
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers);

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse,$_httpContext);

        return $response->body;
    }
        

}