<?php
/*
 * HightailYouSendItAPILib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */

namespace HightailYouSendItAPILib\Controllers;

use HightailYouSendItAPILib\APIException;
use HightailYouSendItAPILib\APIHelper;
use HightailYouSendItAPILib\Configuration;
use HightailYouSendItAPILib\Models;
use HightailYouSendItAPILib\Exceptions;
use HightailYouSendItAPILib\Http\HttpRequest;
use HightailYouSendItAPILib\Http\HttpResponse;
use HightailYouSendItAPILib\Http\HttpMethod;
use HightailYouSendItAPILib\Http\HttpContext;
use Unirest\Request;

/**
 * @todo Add a general description for this controller.
 */
class StorageAPIsController extends BaseController {

    /**
     * @var StorageAPIsController The reference to *Singleton* instance of this class
     */
    private static $instance;
    
    /**
     * Returns the *Singleton* instance of this class.
     * @return StorageAPIsController The *Singleton* instance.
     */
    public static function getInstance()
    {
        if (null === static::$instance) {
            static::$instance = new static();
        }
        
        return static::$instance;
    }

    /**
     * Create a new folder
     * @param  string      $name             Required parameter: Name of the new folder
     * @param  integer     $parentId         Required parameter: Id of the parent folder
     * @param  string      $xAuthToken       Required parameter: Authentication token returned by the Login method
     * @param  string      $accept           Required parameter: Output format as JSON or XML (Acceptable values are: "application/xml", "application/json")
     * @return mixed response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createFolder (
                $name,
                $parentId,
                $xAuthToken,
                $accept) 
    {
        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/v1/folder';

        //process optional query parameters
        APIHelper::appendUrlWithQueryParameters($_queryBuilder, array (
            'name'         => $name,
            'parentId'     => $parentId,
            'X-Auth-Token' => $xAuthToken,
            'Accept'       => $accept,
            'apiKey' => Configuration::$apiKey,
        ));

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Accept'        => 'application/json'
        );

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl);
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers);

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse,$_httpContext);

        return $response->body;
    }
        
    /**
     * Get file info for a file in a folder
     * @param  string     $fileId           Required parameter: The id of thefile
     * @param  string     $xAuthToken       Required parameter: Authentication token returned by the Login method
     * @param  string     $accept           Required parameter: Output format as JSON or XML (Acceptable values are: "application/xml", "application/json")
     * @return mixed response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function getFile (
                $fileId,
                $xAuthToken,
                $accept) 
    {
        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/v1/folder/file/{fileId}';

        //process optional query parameters
        $_queryBuilder = APIHelper::appendUrlWithTemplateParameters($_queryBuilder, array (
            'fileId'       => $fileId,
            ));

        //process optional query parameters
        APIHelper::appendUrlWithQueryParameters($_queryBuilder, array (
            'X-Auth-Token' => $xAuthToken,
            'Accept'       => $accept,
            'apiKey' => Configuration::$apiKey,
        ));

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Accept'        => 'application/json'
        );

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::GET, $_headers, $_queryUrl);
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::get($_queryUrl, $_headers);

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse,$_httpContext);

        return $response->body;
    }
        
    /**
     * Initialize file upload to a folder
     * @param  string     $xAuthToken       Required parameter: Authentication token returned by the Login method
     * @param  string     $accept           Required parameter: Output format as JSON or XML (Acceptable values are: "application/xml", "application/json")
     * @return mixed response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createInitUpload (
                $xAuthToken,
                $accept) 
    {
        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/v1/folder/file/initUpload';

        //process optional query parameters
        APIHelper::appendUrlWithQueryParameters($_queryBuilder, array (
            'X-Auth-Token' => $xAuthToken,
            'Accept'       => $accept,
            'apiKey' => Configuration::$apiKey,
        ));

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Accept'        => 'application/json'
        );

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl);
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers);

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse,$_httpContext);

        return $response->body;
    }
        
    /**
     * Commit file upload to a folder
     * @param  string      $name             Required parameter: The id of the file
     * @param  string      $fileId           Required parameter: The file id returned by initFileUpload
     * @param  integer     $parentId         Required parameter: The id of the folder, where the file needs to be saved
     * @param  string      $xAuthToken       Required parameter: Authentication token returned by the Login method
     * @param  string      $accept           Required parameter: Output format as JSON or XML (Acceptable values are: "application/xml", "application/json")
     * @return mixed response from the API call
     * @throws APIException Thrown if API call fails
     */
    public function createCommitUpload (
                $name,
                $fileId,
                $parentId,
                $xAuthToken,
                $accept) 
    {
        //the base uri for api requests
        $_queryBuilder = Configuration::$BASEURI;
        
        //prepare query string for API call
        $_queryBuilder = $_queryBuilder.'/v1/folder/file/commitUpload';

        //process optional query parameters
        APIHelper::appendUrlWithQueryParameters($_queryBuilder, array (
            'name'         => $name,
            'fileId'       => $fileId,
            'parentId'     => $parentId,
            'X-Auth-Token' => $xAuthToken,
            'Accept'       => $accept,
            'apiKey' => Configuration::$apiKey,
        ));

        //validate and preprocess url
        $_queryUrl = APIHelper::cleanUrl($_queryBuilder);

        //prepare headers
        $_headers = array (
            'user-agent'    => 'APIMATIC 2.0',
            'Accept'        => 'application/json'
        );

        //call on-before Http callback
        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl);
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        //and invoke the API call request to fetch the response
        $response = Request::post($_queryUrl, $_headers);

        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse,$_httpContext);

        return $response->body;
    }
        

}